<?xml version="1.0" encoding="UTF-8"?><widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.upcomingevents.scanner" version="1.1.0">
    <!-- IDs used for different builds
          org.brophy.uce.test
          com.upcomingevents.scanner
    -->

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
      <string>3</string>
    </gap:config-file>

    <name>ScanMyTix</name>
    <!-- Names used for different builds
      ScanMyTix Test
      ScanMyTix
    -->

    <description>
      This app serves to check in event ticket purchases made through the
      UpcomingEvents.com platform by scanning the QR code on their ticket.
      Tickets can be shown on their phone or printed out.
    </description>

    <author href="http://www.upcomingevents.com/" email="scanner@upcomingevents.com"/>

    <preference name="phonegap-version" value="3.3.0"/>
    <preference name="webviewbounce" value="false"/>

    <!-- Set to false to prevent older android platforms from obscuring inputs
         with the keyboard when they are towards the bottom of the screen.  See:
           - http://community.phonegap.com/nitobi/topics/android_windowsoftinputmode_issues_when_working_with_different_android_versions
           - http://community.phonegap.com/nitobi/topics/android_windowsoftinputmode_config_xml_option_doesnt_work_on_moto_x
    -->
    <preference name="fullscreen" value="false"/>

    <!-- iOS only -->

    <!-- Android only -->
    <preference name="android-minSdkVersion" value="14"/>

    <!-- Turn off Android permissions -->
    <preference name="permissions" value="none"/>

    <!-- Don't seem to need this if fullscreen = false -->
    <!--<preference name="android-windowSoftInputMode" value="stateUnspecified|adjustResize"/>-->

    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.device" version="0.2.8"/>
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6"/>
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7"/>
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0"/>
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="1.1.0"/>
    <gap:plugin name="hu.dpal.phonegap.plugins.spinnerdialog" version="0.2.1"/>

    <!-- Build Only for the Following -->
    <gap:platform name="ios"/>
    <gap:platform name="android"/>

    <!-- Default Icons and Splashes -->
    <icon src="icon.png"/>

    <!-- iOS Icons -->
    <icon src="icon/ios/icon-60.png" gap:platform="ios" width="60" height="60"/>
    <icon src="icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
    <icon src="icon/ios/icon.png" gap:platform="ios" width="57" height="57"/>
    <icon src="icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114"/>
    <icon src="icon/ios/icon-76.png" gap:platform="ios" width="76" height="76"/>
    <icon src="icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152"/>
    <icon src="icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144"/>

    <!-- Android Icons-->
    <icon src="icon/android/icon-mdpi.png" gap:platform="android" gap:density="mdpi"/>
    <icon src="icon/android/icon-hdpi.png" gap:platform="android" gap:density="hdpi"/>
    <icon src="icon/android/icon-xhdpi.png" gap:platform="android" gap:density="xhdpi"/>

    <!-- Default Splash Screen -->
    <gap:splash src="splash.png"/>

    <!-- iOS Splash Screens -->
    <!-- iPhone and iPod touch -->
    <gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960"/>
    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="splash/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136"/>
    <!-- iPad -->
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024"/>
    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768"/>
    <!-- Retina iPad -->
    <gap:splash src="splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048"/>
    <gap:splash src="splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536"/>

    <!-- Android Splash Screen -->
    <!-- See: http://stackoverflow.com/questions/10574363/android-splash-screen-image-sizes-to-fit-all-devices -->
    <gap:splash src="splash/android/splash-hdpi.9.png" gap:platform="android" gap:density="hdpi"/>

    <!-- Passtthrough to plist property:
             <key>UIViewControllerBasedStatusBarAppearance</key><false/>
     -->
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
      <false/>
    </gap:config-file>

    <access origin="*"/>
</widget>